<!-- views/partials/footer.ejs -->
<footer>
    <div class="footer-content">
        <div class="social-links">
            <a href="https://github.com/suil12" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/souhail-nm" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <p>&copy; <%= new Date().getFullYear() %> Il Mio Portfolio - by Souhail Nmili. Tutti i diritti riservati.</p>
    </div>
</footer>
    </div>
    
    <script src="/js/main.js"></script>
</body>
</html>
